body {
    margin:0;
    font-family: 'Libre', serif;
    color: var(--color-text-default);
    text-transform: uppercase;
    background-image: var(--background-main); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

/*************/
/* DE HEADER */
/*************/
/* source: Sanne 't Hooft */
header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: .3em;
}

header h1 {
    margin-right: auto;
    font-size: 1.2em;
    padding-left: .5em;
}

header button {
    appearance: none;
    background: none;
    border: none;
}

button > img {
    width: 2em;
}

header nav:nth-of-type(1) {
    position: relative;
}

header nav:nth-of-type(2) ul:nth-of-type(2) {
    display: flex; 
    gap: 1em;
    padding-left: 1em;
    padding-top: 4em;
}

header nav:nth-of-type(1) img {
    width: 1.5em;
}

header nav:nth-of-type(2) img {
    width: 1em;
}

/************/
/* HET MENU */
/************/
header nav:nth-of-type(1) {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-base);
    translate: 100%;
    transition: translate .3s;
}

header nav:nth-of-type(1).toonLang {
    translate: 0%; 
}

header nav:nth-of-type(1) ul {
    padding: 1em;
    margin: 0;
}

header nav:nth-of-type(1) li a {
    display: flex;
    gap: 1em;
    color: var(--color-text-default);
    text-decoration: none;
    line-height: 2em;
    align-items: center;
}

header nav:nth-of-type(1) li img {
    width: 1em;
    height: 1em;
}

header nav:nth-of-type(2) {
    position: fixed; 
    top: 0;
    bottom: 0;
    right: 0;
    width: 13em;
    background-color: var(--color-accent);

    translate: 100%;
    transition:translate .3s;
}

header nav:nth-of-type(2).toonMenu {
    translate: 0%; 
}

header h1 a {
    text-decoration: none;
    color: var(--color-text-default);
}

/*****************/
/* MENU BUTTON 1 */
/*****************/
header button:nth-of-type(1) img {
    width: 1.5em;
}

header nav:nth-of-type(2) button {
    padding: 1em;
    padding-top: 2em;
}

header nav:nth-of-type(2) button img {
    width: 2em;
}

/*****************/
/* MENU BUTTON 2 */
/*****************/
nav:nth-of-type(2) ul:nth-of-type(1) {
    padding-left: 1em;
    list-style: none;
}

nav:nth-of-type(2) ul a {
    text-decoration: none;
    line-height: 2em;
}

ul {
    list-style: none;
}

ul a {
    color: var(--color-base);
}

/********/
/* MAIN */
/********/
main {
    padding: 5em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main img {
    width: 25em;
}

main h2, main p {
    font-size: small;
}

@media (prefers-color-scheme: light) {
    header button:nth-of-type(1) img {
        filter: brightness(0);
    }

    button > img {
        filter: brightness(0);
    }
}

/**************/
/* 1E SECTION */
/**************/
main section:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main section:nth-of-type(1) button {
    background-color: transparent;
    padding: .5em;
}

main section:nth-of-type(1) button img:nth-of-type(1) {
    width: 2em;
}

/**************/
/* 2E SECTION */
/**************/
main select {
    font-family: "Libre, sans-serif";
    color: var(--color-border);
    border-color: var(--color-border);
    padding: .5em;
    background-color: transparent;
}

@media (prefers-color-scheme: light) {
    main select {
        color: var(--color-text-default);
        border-color: var(--color-text-default);
        background-color: var(--color-accent);
    }

    header nav:nth-of-type(1) li a {
        color: var(--color-accent);
    }
}

main button:nth-of-type(1) {
    font-family: "Libre, sans-serif";
    color: var(--color-accent);
    border: none;
    padding: .7em 7em;
    background-color: var(--color-text-footer);
}

main button:nth-of-type(2) {
    color: var(--color-base);
    padding: .5em 4em;
    border: none;
    border-radius: .5em;
    background-color: var(--color-border);
    display: flex;
    align-items: center;
    gap: .5em;
}

main button:nth-of-type(2) img {
    width:3em;
}

main section:nth-of-type(2) {
    padding-left: 3em;
}

/*********/
/* TABLE */
/*********/

table {
    display: none;
    background-color: var(--color-text-footer);
    font-size: .7em;
    color: var(--color-accent);
    text-transform: lowercase;
    padding: .5em;
    border: .1em solid var(--color-accent);
    border-collapse: collapse;
    margin-bottom: 3em;
}

th, td {
    padding: .5em;
    border: .1em solid var(--color-accent);
}

@media (max-width:768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    main img {
        width: 15em;
    }

    main section:nth-of-type(2) {
        padding: 0;
    }
}

/**********/
/* FOOTER */
/**********/
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding-top: 1em;
    padding-bottom: 3em;
    background-color: var(--color-accent);
}

/* source: CSS-tricks, Thomas Plas, OpenAI ChatGPT */
footer form {
    position: relative;
    display: flex; 
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

form svg {
    position: absolute;
    right: .4em;
}

input {
    width: 100%;
}

footer ul:nth-of-type(1) {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-left: 0;
    text-transform: none;
    font-size: .75em;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer ul:nth-of-type(2) {
    color: var(--color-text-footer);
    text-align: center;
    font-size: .75em;
    padding-left: 0;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
